/* CSS-змінні */
:root{
    --title-color:#FFFFFF;
    --subtitles-color:#212121;
    --paragraphs-color:#757575;
    --backgroundbutton-color: #2196F3;
    --backgroundhf-color:#2F303A;
    --backgroundbody-color:#FFFFFF;
    --backgroundphoto-color:#F5F4FA;
}

/* Body */
body {
    background-color: var(--backgroundbody-color);
    color: var(--subtitles-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

img, 
a {
    display: block;
}

/* Утіліти */

.nopoint {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

    /* outline: 2px solid tomato; */
}

/* Фон herro та footer*/
.herro, 
.footer {
    background-color: var(--backgroundhf-color);
}

/* Фон Workers */
.workers {
    background-color: var(--backgroundphoto-color);
}

/* Колір та шрифт логотипу */
.logo {
    color: var(--backgroundbutton-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-color {
    color: #000000;
}

.footer .logo-color {
    color: var(--title-color);
}

/*Header */
.header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;

    border-bottom: 1px solid #ECECEC;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.header .contact-list {
    display: flex;
    margin-left: auto;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

.header .contact-item + .contact-item {
    margin-left: 50px;
}

.nav-link,
.contact-link {
    display: inline-block;

    color: var(--subtitles-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-link{
    color: var(--paragraphs-color);
}

.footer .contact-link{
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    letter-spacing: 0.03em;
}

.nav-link:hover, 
.nav-link:focus, 
.contact-link:hover,
.contact-link:focus {
    color: var(--backgroundbutton-color);
}
.nav-link.current {
    color: var(--backgroundbutton-color);
}

/* Herro */

.herro > .conteiner {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.herro-title {
    margin: 0 auto ;  
    width: 696px;

    color: var(--title-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.portfolio {
    margin-top: 0;
    margin-bottom: 0;
}

/* Button */
.btn-filter {
    margin-top: 94px;
}

.btn-filer-list {
    display: flex;
    justify-content: center
}
.btn-filter-item{
    margin-right: 4px;
    margin-left: 4px;
} 

.herro-btn,
.btn-filter-button {
    cursor: pointer;
    font-family: inherit;
    
    border: transparent;
    border-radius: 4px;
    
}

.herro-btn {
    display: inline-block;

    min-width: 200px;
    margin-top: 30px;
    padding: 10px 32px;

    background-color: var(--backgroundbutton-color);
    color: var(--backgroundbody-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.herro-btn:hover, 
.herro-btn:focus {
    background-color: var(--backgroundphoto-color);
    color: var(--subtitles-color);
}

.first {
    min-width: 73px;
}

.second {
    min-width: 128px;
}

.third {
    min-width: 145px;
}

.forth {
    min-width: 103px;
}

.fifth {
    min-width: 130px;
}

.btn-filter-button {
    padding: 6px 22px;

    background-color: var(--backgroundphoto-color);
    color: var(--subtitles-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.btn-filter-button:hover,
.btn-filter-button:focus {
    background-color: var(--backgroundbutton-color);
    color: var(--backgroundbody-color);
}

/* .btn-filter h2,
.project h2 {
    margin-top: 0;
    margin-bottom: 0;
} */

/* Conteiner Aside */
.aside.conteiner {
    margin-top: 94px;
}

.aside-list {
    display: flex;
    flex-wrap: wrap;
}

.aside-item {
    width: calc((100% - 90px) / 4);
}

.aside-item:not(:last-child) {
    margin-right: 30px;
}

/* Conteiner About */
.about.conteiner {
    margin-top: 94px;
    margin-bottom: 94px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
}

.about-item {
    width: calc((100% - 60px) / 3);
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

/* Conteiner Workers */
.workers>.conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
}

.workers-list {
    display: flex;
    margin-top: 50px;
}

.workers-item {
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;

    width: calc((100% - 90px) / 4);

    background-color: var(--backgroundbody-color);
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers-item:not(:last-child) {
    margin-right: 30px;
}

/* Conteiner Project */
.project {
    margin-top: 50px;
    margin-bottom: 94px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    padding-bottom: 20px;

    width: calc((100% - 60px) / 3);

    border: 1px solid #EEEEEE;
}

/* Conteiner Footer */
.footer>.conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Titles */
.aside-title, 
.about-title,
.workers-title {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about-title {
    margin-bottom: 50px;
}

/* Subtitle */
.aside-subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}

.workers-subtitle {
    margin-top: 30px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}

.project-subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;

    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

/* Desc(Text) */
.aside-desc {
    margin-top: 10px;
    margin-bottom: 0;

    color: var(--paragraphs-color);

    font-size: 14px;
    line-height: 1.71;
}

.workers-desc {
    margin-top: 10px;
    margin-bottom: 0;

    color: var(--paragraphs-color);
   
    line-height: 1.19;
}

.project-desc {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 24px;

    color: var(--paragraphs-color);

    line-height: 1.88;
}

.address {
    margin-top: 20px;

    color: var(--title-color);

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.address p {
    margin-top: 0;
    margin-bottom: 0;
}