/* CSS-змінні */
:root{
    --title-color:#FFFFFF;
    --subtitles-color:#212121;
    --paragraphs-color:#757575;
    --backgroundbutton-color: #2196F3;
    --backgroundhf-color:#2F303A;
    --backgroundbody-color:#FFFFFF;
    --backgroundphoto-color:#F5F4FA;
}

/* Body */
body {
    background-color: var(--backgroundbody-color);
    color: var(--subtitles-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.nopoint {
    list-style: none;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

    outline: 2px solid tomato;
}

/* Фон herro та footer*/
.herro, 
.footer {
    background-color: var(--backgroundhf-color);
}

/* Фон Workers */
.workers {
    background-color: var(--backgroundphoto-color);
}

/* Колір та шрифт логотипу */
.logo {
    display: inline-block;
    margin: 24px 0 0 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
    color: var(--backgroundbutton-color);
}
.logo-color {
    color: #000000;
}

.footer .logo-color {
    color: var(--title-color);
}

/* Блок nav та contact */
.nav-list,
.contact-list {
    margin: 0;
    padding: 0;
}

/* Колір шрифта навігації та контактів header */
.nav-link,
.contact-link {
    display: inline-block;
    color: var(--subtitles-color);
    
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-link{
    color: var(--paragraphs-color);
}

.footer .contact-link{
    font-weight: 400;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover, 
.nav-link:focus, 
.contact-link:hover,
.contact-link:focus {
    color: var(--backgroundbutton-color);
}
.nav-link.current {
    color: var(--backgroundbutton-color);
}

/* Herro */

.herro > .conteiner {
    padding: 200px 15px;
    text-align: center;
}

.herro-title {
    margin: 0 auto ;
    
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--title-color);
}

/* Колір та фон кнопок */
.herro-btn,
.btn-filter-button {
    cursor: pointer;
    font-family: inherit;
    
    display: inline-block;
    border: transparent;
    border-radius: 4px;
}

.herro-btn {
    margin-top: 30px;
    min-width: 200px;
    height: 50px;

    background-color: var(--backgroundbutton-color);
    color: var(--backgroundbody-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
}

.herro-btn:hover, 
.herro-btn:focus {
    background-color: var(--backgroundphoto-color);
    color: var(--subtitles-color);
}

.btn-filter-button {
    background-color: var(--backgroundphoto-color);
    color: var(--subtitles-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.btn-filter-button:hover,
.btn-filter-button:focus {
    background-color: var(--backgroundbutton-color);
    color: var(--backgroundbody-color);
}

/* Conteiner Aside */
.aside.conteiner {
    margin-top: 94px;
}

.aside-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

/* Titles */
.aside-title, 
.about-title,
.workers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.aside-title {
    margin-top: 0;
    margin-bottom: 0;
}

/* Subtitle */
.aside-subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}

.workers-subtitle {
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}

.project-subtitle {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

/* Desc(Text) */
.aside-desc {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;

    color: var(--paragraphs-color);
}

.workers-desc {
    line-height: 1.19;
    
    color: var(--paragraphs-color);
}

.project-desc {
    line-height: 1.88;

    color: var(--paragraphs-color);
}

.address {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    color: var(--title-color);
}
